---
import Badge from "./Badge.astro";

interface Option {
  title?: string;
  description: string;
  link?: string;
}

interface Props {
  title: string;
  company: string;
  description: string;
  options?: Option[];
  date: string;
  link?: string;
}

const { title, company, description, options, date, link } = Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-yellow-400">{title}</h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
        {company}
      </h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
        >{date}</time
      >
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
  >
    {description}
    {
      options &&
        options.map((option, index) => (
          <h3 class="items-center text-base font-medium text-yellow-500 text-pretty">
            <div class="inline-flex">
              <strong class="mr-2">·</strong> {option.title}
            </div>
            <span class="text-sm text-gray-600 dark:text-gray-300">
              {option.description}
            </span>
            {option.link && (
              <a
                href={option.link}
                role="link"
                target="_blank"
                rel="noopener noreferrer"
                class="transition  md:hover:scale-105"
              >
                <Badge>Click Ver</Badge>
              </a>
            )}
          </h3>
        ))
    }
    {link && (
      <a
        href={link}
        role="link"
        target="_blank"
        rel="noopener noreferrer"
        class="text-xs inline-block transition  md:hover:scale-105"
      >
        <Badge>Click Ver</Badge>
      </a>
    )}

  </div>
</div>
